{% extends "base.html" %}

{% block title %}
    All Courses
{% endblock %}

{% block navbar %}
{% endblock %}
{% block content %}







    <style>
        .container {
            margin: 5%;
            margin-top: 2%;
            margin-left: 30%;
            margin-right: 30%;
            background-color: whitesmoke;
            padding: 3%;
            border-radius: 3%;
            border: solid #888888 3px;
            background-color: white;
            horiz-align: center;
        }

        #h {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 3%;
            font-weight: bold;
            font-size: 30px;
            color: #666666;
        }

    </style>

    <strong id="h">All Courses</strong>
    <div class="container">

        <div id="all_courses" class="ui center aligned basic segment">
            {% for cours in courses %}

                <table class="ui red table">
                    <tbody>


                    <tr>
                        <td><h4>{{ cours.name }}</h4></td>
                    </tr>
                    <tr>
                        <td>
                            <pre>Department : </pre>
                        </td>
                        <td><div>{{ cours.department }}</div></td>
                    </tr>

                    <tr>
                        <td>
                            <pre>Course days : </pre>
                        </td>
                        <td>
                            <div>{{ cours.first_day }}
                                <strnog>,</strnog>
                                {{ cours.second_day }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <pre>Course days : </pre>
                        </td>
                        <td><div>{{ cours.start_time }}
                            <strnog>,</strnog>
                            {{ cours.end_time }}</div></td>
                    </tr>
                    <tr>
                        <td>
                            <pre>Teacher : </pre>
                        </td>
                        <td><div>{{ cours.teacher }}</div></td>
                    </tr>

                    </tbody>
                </table>

                <div class="ui horizontal divider">
                    Or
                </div>
            {% endfor %}

        </div>


    </div>
    </div>





    <div class="all_courses">
        <div class="ui center aligned basic segment">

        </div>
    </div>
{% endblock %}