{% extends "base.html" %}

{% block title %}
    All Courses
{% endblock %}

{% block navbar %}
{% endblock %}
{% block content %}







    <style>
        .container {
            margin: 5%;
            margin-top: 2%;
            margin-left: 30%;
            margin-right: 30%;
            background-color: whitesmoke;
            padding: 3%;
            border-radius: 3%;
            border: solid #888888 3px;
            background-color: white;
            horiz-align: center;
        }

        .h {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 3%;
            font-weight: bold;
            font-size: 30px;
            color: #666666;
        }

    </style>

    {% if not search_state %}
        <strong class="h">All Courses</strong>

        <div class="container">

            <div id="all_courses" class="ui center aligned basic segment">
                {% for cours in courses %}

                    <div class="{{ cours.course_number }}_{{ cours.group_number }}">
                        <h4>{{ cours.name }}</h4>
                        <div>{{ cours.department }}</div>
                        <div>{{ cours.first_day }}{{ cours.second_day }}</div>
                        <div>{{ cours.start_time }} {{ cours.end_time }}</div>
                        <div>{{ cours.teacher }}</div>
                        <a class="add">
                            <button class="ui primary button">Add</button>
                        </a></div>

                    <div class="ui horizontal divider">
                        Or
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}


    {% if search_state %}
        <strong class="h">Search Courses</strong>

        <div class="container">

            <div id="search_result" class="ui center aligned basic segment">
                {% for course in courses %}

                    <div class="{{ course.course_number }}_{{ course.group_number }}">
                        <h4>{{ course.name }}</h4>
                        <div>{{ course.teacher }}</div>
                        <br><br>
                        <a class="add">
                            <button class="ui primary button">Add</button>
                        </a>
                    </div>

                    <div class="ui horizontal divider">
                        Or
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}



    <div class="container">

        <form id="search_form" action="{% url 'all_courses' %}" method="post">{% csrf_token %}
            <input name="search_query">
            <button name="submit">Search</button>

            <input id="dep" type="checkbox" name="department" checked>
            <label for="dep">Department</label>

            <input id="tea" type="checkbox" name="teacher">
            <label for="tea">Teacher</label>

            <input id="cou" type="checkbox" name="course">
            <label for="cou">Course</label>

            <br><br>

            <div class="grouped fields">
                <h3>Search fields</h3>
                <div class="field">
                    <div class="ui checkbox">

                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">

                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">

                    </div>
                </div>
            </div>


        </form>
    </div>

    {##}
    {#    <strong class="h">My Courses</strong>#}
    {##}
    {#    <div class="container">#}
    {##}
    {#        <div id="my_courses" class="ui center aligned basic segment">#}
    {#            {% for course in courses %}#}
    {##}
    {#                <div class="{{ course.course_number }}_{{ course.group_number }}">#}
    {#                    <h4>{{ course.name }}</h4>#}
    {#                    <div>{{ course.department }}</div>#}
    {#                    <div>{{ course.first_day }}{{ course.second_day }}</div>#}
    {#                    <div>{{ course.start_time }} {{ course.end_time }}</div>#}
    {#                    <div>{{ course.teacher }}</div>#}
    {#                    <a class="remove">#}
    {#                        <button class="ui primary button">Remove</button>#}
    {##}
    {#                    </a>#}
    {#                </div>#}
    {##}
    {#                <div class="ui horizontal divider">#}
    {#                    Or#}
    {#                </div>#}
    {#            {% endfor %}#}
    {##}
    {#        </div>#}
    {#    </div>#}





    <div class="all_courses">
        <div class="ui center aligned basic segment">

        </div>
    </div>
{% endblock %}