{% extends "base.html" %}

{% block title %}
    All Courses
{% endblock %}

{% block navbar %}
{% endblock %}
{% block content %}







    <style>
        .container {
            margin: 5%;
            margin-top: 2%;
            margin-left: 30%;
            margin-right: 30%;
            background-color: whitesmoke;
            padding: 3%;
            border-radius: 3%;
            border: solid #888888 3px;
            background-color: white;
            horiz-align: center;
        }

        #h {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 3%;
            font-weight: bold;
            font-size: 30px;
            color: #666666;
        }

    </style>

    <strong id="h">All Courses</strong>
    {% if not search %}
        <div class="container">

            <div id="all_courses" class="ui center aligned basic segment">
                {% for cours in courses %}

                <div class="{{ cours.course_number }}_{{ cours.group_number }}">
                    <h4>{{ cours.name }}</h4>
                    <div>{{ cours.department }}</div>
                    <div>{{ cours.first_day }}{{ cours.second_day }}</div>
                    <div>{{ cours.start_time }} {{ cours.end_time }}</div>
                    <div>{{ cours.teacher }}</div>
                <a class="add">Add</a>
                </div>

                    <div class="ui horizontal divider">
                        Or
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}
    <div class="container">
        <form id="search_form" action="{% url 'all_courses' %}" method="post">{% csrf_token %}
            <input name="search_query" placeholder="Depatment Name">
            <button name="submit">Search!</button>
            {% if search %}
                <div id="search_result">
                {% for cours in courses %}

                    <div class="{{ cours.course_number }}_{{ cours.group_number }}">
                        <p>{{ cours.name }}</p>
                        <p>{{ cours.teacher }}</p>
                    </div>
                    <div class="ui horizontal divider">
                        Or
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>





    <div class="all_courses">
        <div class="ui center aligned basic segment">

        </div>
    </div>
{% endblock %}