<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>


</head>
<body>

<div class="ui menu" id="navbar">
    {% if not request.user.is_authenticated %}
        <div class="item">
            <a class="ui primary button" id="register" href="{% url 'register' %}">ثبت نام</a>
        </div>
    {% endif %}

    {% if not request.user.is_authenticated %}
        <div class="item">
            <a class="ui button" id="login" href="{% url 'sign_in' %}">ورود</a>
        </div>
    {% endif %}

    {% if request.user.is_authenticated %}
        <div class="item">
            <a class="ui button" id="logout" href="{% url 'logout' %}">خروج</a>
        </div>
    {% endif %}


    <div class="right menu">
        <a class="item" id="homepage" href="{% url 'home' %}">صفحه اصلی</a>
    </div>

</div>

{% block navbar %}
{% endblock %}


{% block content %}
{% endblock %}




<div style="margin: 30px; margin-top: 500px; background-color: whitesmoke">
    contact us!
    <form id="contact_us_form" class="ui form" action="{% url 'home' %}" method="post">{% csrf_token %}
        <div class="field">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title">
        </div>

        <div class="field">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email">
        </div>

        <div class="field">
            <label>Text</label>
            <textarea name="text" placeholder="Text"></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
</div>
</body>
</html>