{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}

    <div style="margin: 30px;">
        <form id="register_form" class="ui form" action="{% url 'register' %}" method="post">{% csrf_token %}
            <div class="field">
                <label>First Name</label>
                <input type="text" name="first_name" placeholder="First Name">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="last_name" placeholder="Last Name">
            </div>
            <div class="field">
                <label>username</label>
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="Email">
                <label>Email</label>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password1" placeholder="Password">
            </div>
            <div class="field">
                <label>Confirm Password</label>
                <input type="password" name="password2" placeholder="Confirm Password">
            </div>
            <button class="ui button" type="submit" name="submit" >Submit</button>
        </form>
        <div id="errors">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        </div>
    </div>

{% endblock %}

</ul>
