{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}

    <div style="margin: 30px;">
        <form class="ui form" id="login_form">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="username" placeholder="First Name">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="password" placeholder="Last Name">
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}

</ul>
