{% extends "base.html" %}

{% block title %}
    Sign In
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}
    <style>
        .sign_in_form {
            margin: 5%;
            margin-top: 2%;
            margin-left: 30%;
            margin-right: 30%;
            background-color: whitesmoke;
            padding: 3%;
            border-radius: 3%;
            border: solid #888888 3px;
            background-color: white;
        }

        #h {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 3%;
            font-weight: bold;
            font-size: 30px;
            color: #666666;
        }
    </style>

    <div>
        <strong id="h">Sign in!</strong>
        <form class="ui form sign_in_form" id="login_form" action="{% url 'sign_in' %}" method="post">{% csrf_token %}
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <input type="text" name="username" placeholder="Username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password" name="password" placeholder="Password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <button class="ui button" type="submit" id="submit" name="submit">Login</button>

                </div>
                {% if not valid %}
                    <div id="error" class="ui red message"
                         style="margin-top: 30px; text-align: center; font-size: 20px;" dir="rtl">
                        رمز اشتباه!!
                    </div>
                {% else %}
                    <div>

                    </div>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}

</ul>
