{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}

    <div style="margin: 30px;">
        <form class="ui form" id="login_form" action="{% url 'sign_in' %}" method="post">{% csrf_token %}
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <input type="text" name="username" placeholder="Username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password" name="password" placeholder="Password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <button class="ui button" type="submit" id="submit" name="submit">Login</button>

                </div>
            </div>
        </form>
        {% if not valid %}
            <div id=”error”>
                رمز اشتباه!!
            </div>
        {% else %}
            <div>

            </div>
        {% endif %}
    </div>

{% endblock %}

</ul>
